.todoList {
  color: #fff;

  h1 {
    margin: 22px auto 10px auto;
    font-size: 24px;
  }

  hr {
    width: 90%;
    border: 1px solid #5d0cff;
    border-bottom-width: 0;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
  }

  .search-input {
    margin-bottom: 12px;
    border: 1px solid #5d0cff;
    border-radius: 2px;
    background-color: transparent;
    padding: 3px;
    color: #fff;
    outline: none;

    &::placeholder {
      text-align: center;
      color: #ccc;
    }
  }
}
